API_ID=25290115
API_HASH=bf26c3b91fe2f640d81de95db56dc5bf
BOT_TOKEN=
LOGGER_ID=-1002136795173
MONGO_DB_URI=mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6828153648
STRING_SESSION=
